* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}

.card {
  background-color: #f4f4f4;
}

/* .card-text {
  background-color: #f4f4f4;
  padding: 5px 5px;
} */

.card-text > span {
  font-weight: 500;
  text-transform: uppercase;
}

.icons {
  cursor: pointer;
}

/* headings */

/* ul {
  border: black 1px solid;
} */

.bg-todo {
  border-radius: 10px;
  padding: 5px 0px;
  background-color: #2fc7f7;
}

.bg-done {
  border-radius: 10px;
  padding: 5px 0px;
  background-color: #2ff761;
}

.bg-review {
  border-radius: 10px;
  padding: 5px 0px;
  background-color: #e3f72f;
}

.bg-inprogress {
  border-radius: 10px;
  padding: 5px 0px;
  background-color: #f7bb2f;
}
